# Arquivo .gitignore para projetos Node.js

# Dependências
node_modules/
**/.pnp
.pnp.js

# Variáveis de ambiente
.env
.env.*
!.env.example  # Mantém o arquivo de exemplo como referência
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cobertura de testes
coverage/
.nyc_output

# Build/compilação
dist/
build/
out/
.next/
.nuxt/

# Cache
.cache/
.turbo

# Configurações de IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistemas operacionais
.DS_Store
Thumbs.db

# Pacotes
*.tgz
